sites/all/modules/custom/ringo_eshop/soap/wsdl/DealerWs.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.dealer.ringomobile.verscom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://ws.dealer.ringomobile.verscom.com/" name="DealerWs">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.dealer.ringomobile.verscom.com/" schemaLocation="https://94.141.30.42:8443/RingoApi/DealerWs?xsd=1" />
    </xsd:schema>
  </types>
  <message name="sendSimActivationRequest">
    <part name="parameters" element="tns:sendSimActivationRequest" />
  </message>
  <message name="sendSimActivationRequestResponse">
    <part name="parameters" element="tns:sendSimActivationRequestResponse" />
  </message>
  <message name="getMsisdnPromoBags">
    <part name="parameters" element="tns:getMsisdnPromoBags" />
  </message>
  <message name="getMsisdnPromoBagsResponse">
    <part name="parameters" element="tns:getMsisdnPromoBagsResponse" />
  </message>
  <message name="uploadSimDocument">
    <part name="parameters" element="tns:uploadSimDocument" />
  </message>
  <message name="uploadSimDocumentResponse">
    <part name="parameters" element="tns:uploadSimDocumentResponse" />
  </message>
  <message name="getActivablePromotion">
    <part name="parameters" element="tns:getActivablePromotion" />
  </message>
  <message name="getActivablePromotionResponse">
    <part name="parameters" element="tns:getActivablePromotionResponse" />
  </message>
  <message name="unsubscribePromo">
    <part name="parameters" element="tns:unsubscribePromo" />
  </message>
  <message name="unsubscribePromoResponse">
    <part name="parameters" element="tns:unsubscribePromoResponse" />
  </message>
  <message name="getAllProductOffering">
    <part name="parameters" element="tns:getAllProductOffering" />
  </message>
  <message name="getAllProductOfferingResponse">
    <part name="parameters" element="tns:getAllProductOfferingResponse" />
  </message>
  <message name="assignPromotion">
    <part name="parameters" element="tns:assignPromotion" />
  </message>
  <message name="assignPromotionResponse">
    <part name="parameters" element="tns:assignPromotionResponse" />
  </message>
  <message name="agentLogin">
    <part name="parameters" element="tns:agentLogin" />
  </message>
  <message name="agentLoginResponse">
    <part name="parameters" element="tns:agentLoginResponse" />
  </message>
  <message name="rechargeSim">
    <part name="parameters" element="tns:rechargeSim" />
  </message>
  <message name="rechargeSimResponse">
    <part name="parameters" element="tns:rechargeSimResponse" />
  </message>
  <portType name="DealerWs">
    <operation name="sendSimActivationRequest">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/sendSimActivationRequestRequest" message="tns:sendSimActivationRequest" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/sendSimActivationRequestResponse" message="tns:sendSimActivationRequestResponse" />
    </operation>
    <operation name="getMsisdnPromoBags">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/getMsisdnPromoBagsRequest" message="tns:getMsisdnPromoBags" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/getMsisdnPromoBagsResponse" message="tns:getMsisdnPromoBagsResponse" />
    </operation>
    <operation name="uploadSimDocument">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/uploadSimDocumentRequest" message="tns:uploadSimDocument" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/uploadSimDocumentResponse" message="tns:uploadSimDocumentResponse" />
    </operation>
    <operation name="getActivablePromotion">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/getActivablePromotionRequest" message="tns:getActivablePromotion" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/getActivablePromotionResponse" message="tns:getActivablePromotionResponse" />
    </operation>
    <operation name="unsubscribePromo">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/unsubscribePromoRequest" message="tns:unsubscribePromo" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/unsubscribePromoResponse" message="tns:unsubscribePromoResponse" />
    </operation>
    <operation name="getAllProductOffering">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/getAllProductOfferingRequest" message="tns:getAllProductOffering" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/getAllProductOfferingResponse" message="tns:getAllProductOfferingResponse" />
    </operation>
    <operation name="assignPromotion">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/assignPromotionRequest" message="tns:assignPromotion" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/assignPromotionResponse" message="tns:assignPromotionResponse" />
    </operation>
    <operation name="agentLogin">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/agentLoginRequest" message="tns:agentLogin" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/agentLoginResponse" message="tns:agentLoginResponse" />
    </operation>
    <operation name="rechargeSim">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/rechargeSimRequest" message="tns:rechargeSim" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/DealerWs/rechargeSimResponse" message="tns:rechargeSimResponse" />
    </operation>
  </portType>
  <binding name="DealerWsPortBinding" type="tns:DealerWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="sendSimActivationRequest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getMsisdnPromoBags">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="uploadSimDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getActivablePromotion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="unsubscribePromo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllProductOffering">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="assignPromotion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agentLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="rechargeSim">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DealerWs">
    <port name="DealerWsPort" binding="tns:DealerWsPortBinding">
      <soap:address location="https://94.141.30.42:8443/RingoApi/DealerWs" />
    </port>
  </service>
</definitions>