sites/all/modules/custom/ringo_eshop/soap/wsdl/ManagementWs.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.dealer.ringomobile.verscom.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="http://ws.dealer.ringomobile.verscom.com/" name="ManagementWs">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.dealer.ringomobile.verscom.com/" schemaLocation="https://94.141.30.42:8443/RingoApi/ManagementWs?xsd=1" />
    </xsd:schema>
  </types>
  <message name="getMsisdnStatus">
    <part name="parameters" element="tns:getMsisdnStatus" />
  </message>
  <message name="getMsisdnStatusResponse">
    <part name="parameters" element="tns:getMsisdnStatusResponse" />
  </message>
  <message name="getRechargesList">
    <part name="parameters" element="tns:getRechargesList" />
  </message>
  <message name="getRechargesListResponse">
    <part name="parameters" element="tns:getRechargesListResponse" />
  </message>
  <message name="getInfoSimByMSISDN">
    <part name="parameters" element="tns:getInfoSimByMSISDN" />
  </message>
  <message name="getInfoSimByMSISDNResponse">
    <part name="parameters" element="tns:getInfoSimByMSISDNResponse" />
  </message>
  <message name="getSimByTaxCode">
    <part name="parameters" element="tns:getSimByTaxCode" />
  </message>
  <message name="getSimByTaxCodeResponse">
    <part name="parameters" element="tns:getSimByTaxCodeResponse" />
  </message>
  <message name="getMainBagCredit">
    <part name="parameters" element="tns:getMainBagCredit" />
  </message>
  <message name="getMainBagCreditResponse">
    <part name="parameters" element="tns:getMainBagCreditResponse" />
  </message>
  <message name="getCustomer">
    <part name="parameters" element="tns:getCustomer" />
  </message>
  <message name="getCustomerResponse">
    <part name="parameters" element="tns:getCustomerResponse" />
  </message>
  <portType name="ManagementWs">
    <operation name="getMsisdnStatus">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getMsisdnStatusRequest" message="tns:getMsisdnStatus" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getMsisdnStatusResponse" message="tns:getMsisdnStatusResponse" />
    </operation>
    <operation name="getRechargesList">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getRechargesListRequest" message="tns:getRechargesList" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getRechargesListResponse" message="tns:getRechargesListResponse" />
    </operation>
    <operation name="getInfoSimByMSISDN">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getInfoSimByMSISDNRequest" message="tns:getInfoSimByMSISDN" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getInfoSimByMSISDNResponse" message="tns:getInfoSimByMSISDNResponse" />
    </operation>
    <operation name="getSimByTaxCode">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getSimByTaxCodeRequest" message="tns:getSimByTaxCode" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getSimByTaxCodeResponse" message="tns:getSimByTaxCodeResponse" />
    </operation>
    <operation name="getMainBagCredit">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getMainBagCreditRequest" message="tns:getMainBagCredit" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getMainBagCreditResponse" message="tns:getMainBagCreditResponse" />
    </operation>
    <operation name="getCustomer">
      <input wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getCustomerRequest" message="tns:getCustomer" />
      <output wsam:Action="http://ws.dealer.ringomobile.verscom.com/ManagementWs/getCustomerResponse" message="tns:getCustomerResponse" />
    </operation>
  </portType>
  <binding name="ManagementWsPortBinding" type="tns:ManagementWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getMsisdnStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getRechargesList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getInfoSimByMSISDN">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getSimByTaxCode">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getMainBagCredit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ManagementWs">
    <port name="ManagementWsPort" binding="tns:ManagementWsPortBinding">
      <soap:address location="https://94.141.30.42:8443/RingoApi/ManagementWs" />
    </port>
  </service>
</definitions>